<!--- new nav -->
<nav class="navbar sticky-top shadow navbar-expand-md navbar-light bg-light border-bottom">
    <div class="container">
        <a class="h4 fw-bold text-decoration-none link-secondary d-flex justify-content-center align-items-center align-content-center"
            href="/"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-cart3 me-1" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{#if isIndex}}
            <ul class="navbar-nav mb-2 mb-md-0 ms-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#each categories}}
                        <li><a class="dropdown-item"
                                href="product/by/category/{{this.name}}/{{this.id}}">{{this.name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        brand
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#each brands}}
                        <li><a class="dropdown-item" href="product/by/brand/{{this.name}}/{{this.id}}">{{this.name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
            {{/if}}

            <form class="d-flex mb-2 mb-md-0 ms-auto flex-fill ms-md-2" action="/search" method="post">
                <input class="form-control me-2" type="search" placeholder="Search" name="searchvalue">
            </form>

            {{#if isLogin}}
            {{#if isIndex}}
            <div class="mb-2 mb-md-0 ms-md-2">
                <button type="button" class="btn btn-outline-secondary position-relative" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        id="trx-count" </span> </button> </div> {{/if}} <div class='dropdown ms-md-3'>
                        <div type="button" class='btn btn-outline-success dropdown-toggle' href='#' role='button'
                            id='dropdownMenuLink' data-bs-toggle='dropdown' aria-expanded='false'>
                            <img src="/public/image/person.svg" alt="">
                        </div>
                        <ul class='dropdown-menu dropdown-menu-end mt-3' aria-labelledby='dropdownMenuLink'>
                            {{#if isAdmin}}
                            <li>
                                <a class='dropdown-item d-flex align-items-center' href='/admin-panel'>
                                    <img src="public/image/gear.svg" alt="">
                                    <span class='ms-2'>Admin Panel</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {{/if}}
                            <li>
                                <a class='dropdown-item d-flex align-items-center' href='/logout'>
                                    <img src="public/image/box-arrow-right.svg" alt="">
                                    <span class='ms-2'>Logout</span>
                                </a>
                            </li>
                        </ul>
            </div>
            {{else}}
            {{#if (isAuth auth)}}
            <div class="d-flex ms-md-3 mt-3 mt-md-0">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#loginModal">
                    <img src="/public/image/person.svg" alt="">
                </button>
            </div>
            {{/if}}
            {{/if}}
        </div>
    </div>
</nav>
{{#if message}}
<div class="alert alert-{{message.type}}" role="alert">
    <div class="d-flex">{{message.message}}
        <button type="button" class="btn-close ms-auto me-3" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/if}}